.alert {
    @apply text-sm border-t-4 rounded px-4 py-2 shadow mb-4;

    &--info {
        @apply bg-blue-100 border-blue-500 text-blue-900;
    }

    &--success {
        @apply bg-green-100 border-green-500 text-green-900;
    }
}

.feedback {
    &--error {
        @apply text-red-600 text-xs font-bold;
    }
}