.button {
    @apply inline-block text-sm px-4 py-4 leading-none border rounded text-gray-600 border-gray-400 mt-4;
    &:hover {
        @apply border-transparent text-white bg-gray-600;
    }

    @media (min-width: 1024px) {
        @apply mt-0; 
    }

    &--main {
        @apply border-none bg-gray-700 text-white text-lg;
        &:hover {
            @apply border-none;
        }
    }

    &--nav {
        @apply py-2;
    }
}