.navigation {
    @apply flex items-center justify-between flex-wrap bg-white py-4 px-6 mb-4;

    &-menu-item {
        @apply block mt-4 text-gray-600 mr-4;
        &:hover {
            @apply text-gray-700;
        }
        &:last-child {
            @apply mr-0;
        }
        @media (min-width: 1024px) {
            @apply inline-block mt-0;
        }
    }
}